
body{
    font-family: 'Raleway', sans-serif;
}

#intro {
    height: 100hv;
}

#intro {
    background: url(./img/main.jpg)no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.nav-button{
	display: block;
	padding: .5rem 3rem;
	color: black;
	font-size: 14pt;

}
nav.navbar{

    /* background-color: transparent; */

background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(205,205,205,1));
}

.navbar-collapse{
    text-align: end;
}

.vl {
    border-left: 1px solid #cdcdcd;
    height: 100%;
}
.nav-link{
    padding-right: 50px;
    font-size: 14pt;
}
.navbar-brand{
    padding-left: 30px;
}

.mainhead {
    display: grid;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 35rem;
    /* padding: 15rem 0 5rem; */
    background: url(main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.helpfix{
    display: grid;
    grid-template-rows: 1fr 150px;
}

.mainhead h1{
    font-weight: 800;
    font-size: 300%;
}
h1 {
    font-size: 3rem;
}

.dropdown-button-custom{
    color: #484848;
    background-color: #ffff;
    border-right-color: #cdcdcd;
    padding: 1rem;
}
.form-control{
    border: none;
}
.button-search{
	background-color: #4dadbb;
	color: white;
	font-size: 1rem!important;
}

.btn{
	font-size: 10pt;
}


.info{
    background-color: #323232;
}
span.name {
    color:#0e7200;

}

.white-buttons{
    display: flex;
    justify-content: center;
    padding: 0 3rem;
    margin: auto;
}
.white-buttons img{
    margin: 20px;
}

.products{
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 35rem;
    padding: 3rem 0;
    background-color: #f7f7f7;
    background-position: center
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    scroll-behavior: smooth;
}

.container{
    width: 100%;
}


.grid-products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px 80px;
    justify-items: center;
    margin: 40px 500px 0;
}

.grid-item {
    height: 325px;
    width: 350px;
    background-color: #fff;
    margin-bottom: 50px;
    -webkit-column-break-inside: avoid;
    padding: 12.5px;
    box-sizing: border-box;
    margin: auto 0;
}

.grid-item img{
    width: 325px;
    height: 250px;
}
.grid-item p{
    margin-top: 1rem;
    text-align: left;
    color: #8b8b8b;
}
.all-products{
    text-align: center;
    margin: auto;
}

.testimonial{
    display: grid;
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 35rem;
    padding: 3rem 0;
    background-color: #4dadbb;
    background-position: center
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    scroll-behavior: smooth;
}
.testimony{
    display: grid;
    height: 419px;
    width: 696px;
    background-color: white;
    border-radius: 30px;
    box-shadow: -1px 2px 47.53px 1.47px rgba(0, 0, 0, 0.17);
    grid-template-rows: min-content;
    text-align: center;
}

.testimony-text{
    display: grid;
    align-items: flex-end;
    margin: 0 60px;
}
.main-text{
    text-align: center;
}
.main-text h2{
    font-size: 30px;
}
.main-text p{
    font-size: 16px;
}
.feedback{
    font-size: 11.3pt;
    line-height: 19.16pt;
    color: #171717;
}
.author{
    font-family: 'Poppins', sans-serif;
    color: #4dadbb;
    font-size: 13.79pt;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 19.16pt;
    margin: 30px 0 0;
}
.who{
    font-weight: 300;
    font-style: italic;
    font-size: 12.26pt;
    line-height: 18.39pt;

    color: #717171;
}
.user-photo{
    margin: -8% 0 0 0;
}

.carousel-place{
    display: flex;
    justify-content: center;
}
.carousel-place a{
    margin: 8% auto auto;
}
.main{
    position: absolute;
    z-index: 1;
}
.left{
    z-index: 0;
    opacity: 0.6;
    transform: scale(0.7);
}
.right{
    z-index: 0;
    opacity: 0.6;
    transform: scale(0.7);
}

.footer-c{
    background-color: #272727;
}


@media screen and (max-width: 1965px) {
    .nav-button{
        font-size: 0.8rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .navbar img{
        height: 2rem;
    }
    .mainhead {
    padding: 5rem 0 1rem;
    }
    .mainhead h1{
        font-size: 2rem;
    }
    .white-buttons img{
        height: 3rem;
    }
    .button-search{
        font-size: 0.6rem!important;
    }
    .dropdown-button-custom{
        padding: 3px 10px;
        font-size: x-small;
    }
    .dropdown-item{
        font-size: 0.7rem!important;
        padding-right:  0;
    }

    .main-text, h2{
        font-size: 1.4rem!important;
    }
    .main-text, p{
        font-size: 0.9rem!important;
        margin-left: 10px;
        margin-right: 10px;
    }

    .grid-products{
        /* grid-template-columns: repeat(2, 1fr);
        grid-template-rows:repeat(3, 1fr); */
        column-gap: 0.5rem;
        margin: 0 250px;
        padding-top: 40px;
    }
    .products{
        height: auto;
    }
    .grid-item{
        height: 14rem;
        width: 14rem
    }

    .grid-item img{
        width: 100%;
        height: auto;
    }
    .grid-item, p{
        font-size: 0.7rem!important;
        margin-left: 10px;
        margin-right: 10px;
    }

    .testimony {
        width: 35%;
        height: 20rem;
    }
    .testimony-text p{
        font-size: 0.65rem!important;
        margin: auto;
        line-height: 19px;
    }
    p.feedback{
        margin-bottom: 20px;
    }

    .user-photo img{
        height: 5.5rem;
        margin: 0.01rem;
    }

    .arrow{
        margin: 20px 2px;
    }


    .nav-link{
        font-size: 0.7rem!important;

    }
    .info img{
        height: 3.5rem;

    }

    .footer-c{
        padding-top: 1rem!important;
        padding-bottom: 1rem!important;
        font-size: 0.5rem;
    }

    }
    @media screen and (max-width: 767px) {
    .vl{
        border: none;
    }
}

@media screen and (max-width: 1298px) {
    .nav-button{
        font-size: 0.7rem!important;
    }
    .grid-products{
        /* grid-template-columns: repeat(2, 1fr);
        grid-template-rows:repeat(3, 1fr); */
        column-gap: 0.5rem;
        row-gap: 2rem;
        margin: 0 150px;
        padding-top: 10px;
    }

    .grid-item{
        height: 12rem;
        width: 12rem;
        padding: 6.5px;
    }

    .grid-item img{
        width: 100%;
        height: auto;
    }
    .grid-item, p{
        font-size: 0.6rem!important;
        margin-left: 7px;
        margin-right: 7px;
    }
    .testimony{
        width: 35%;
        height: 16rem;
    }
    .testimony-text {
        align-items: center;
        margin: auto 35px;
    }
    .testimony-text p{
        font-size: 0.6rem!important;
        margin: auto 15px;
        line-height: 17px;
    }
    p.feedback{
        margin-bottom: 20px;
    }
    p.author{
        font-size: 0.65rem!important;
    }
    .user-photo{
        margin: -9% 0 0 0;
    }
    .user-photo img{
        height: 5rem;
        margin: 0.01rem;
    }

    .arrow{
        margin: 20px 2px;
    }
    .info{
        padding: 0.5rem!important;
    }
    .info img{
        height: 2.8rem;

    }


}
@media screen and (max-width: 1024px) {
    .nav-button{
        font-size: 0.6rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .nav-link{
        font-size: 0.7rem!important;

    }
    .button-search{
        font-size: 0.6rem!important;
    }
    .mainhead h1 {
        font-size: 1.8rem;
    }
    .main-text, h2{
        font-size: 1.2rem!important;
    }
    .main-text, p{
        font-size: 0.7rem!important;
        margin-left: 10px;
        margin-right: 10px;
    }
    .products{
        padding: 1.5rem;
    }

    .grid-products{
        /* grid-template-columns: repeat(2, 1fr);
        grid-template-rows:repeat(3, 1fr); */
        column-gap: 0.5rem;
        row-gap: 2rem;
        margin: 0 130px;
        padding-top: 10px;
    }
    .products{
        height: auto;
    }
    .grid-item{
        height: 11rem;
        width: 11rem;
        padding: 6.5px;
    }

    .grid-item img{
        width: 100%;
        height: auto;
    }
    .grid-item, p{
        font-size: 0.6rem!important;
        margin-left: 7px;
        margin-right: 7px;
    }

    .user-photo{
        margin: -9% 0 0 0;
    }

    .testimony{
        width: 40%;
        height: 17rem;
    }
    .testimony-text {

        align-items: center;
        margin: auto 40px;
    }
    .testimony-text p{
        font-size: 0.5rem!important;
        margin: auto;
        line-height: 15px;
    }
    p.feedback{
        margin-bottom: 20px;
    }

    .user-photo img{
        height: 5rem;
        margin: 0.01rem;
    }

    .arrow{
        margin: 20px 2px;
    }
    .info{
        padding: 1rem!important;
    }
    .info img{
        height: 3rem;

    }
    .footer-c{
        padding-top: 1rem!important;
        padding-bottom: 1rem!important;
        font-size: 0.5rem;
    }
    .mainhead {
        font-size: 0.5rem;
    }
    .dropdown-button-custom{
        padding: 3px 10px;
        font-size: x-small;
    }

}

@media screen and (max-width: 768px) {
    .navbar-toggler-icon{
        width: 25px;
        height: 25px;
    }
    .nav-button{
        font-size: 0.7rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .nav-link{
        font-size: 0.7rem!important;

    }
    .button-search{
        font-size: 0.6rem!important;
    }

    .main-text, h2{
        font-size: 1.3rem!important;
    }
    .main-text, p{
        font-size: 0.8rem!important;
        margin-left: 10px;
        margin-right: 10px;
    }

    .grid-products{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows:repeat(3, 1fr);
        margin: 0 auto;
        column-gap: 3rem;
        width: fit-content;

    }

    .grid-item{
        height: 14rem;
        width: 14rem
    }

    .grid-item img{
        width: 100%;
    height: auto;
    }
    .grid-item, p{
        font-size: 0.7rem!important;
        margin-left: 10px;
        margin-right: 10px;
    }
    .products{
        height: auto;
    }
    .navbar img{
        height: 2rem;
    }
    .white-buttons img{
        height: 2.5rem;
    }

    .testimony{
        width: 60%;
        height: 18rem;
    }
    .testimony-text p{
        font-size: 0.6rem!important;
        margin: auto;
        line-height: 20px;
    }
    p.feedback{
        margin-bottom: 20px;
    }

    .user-photo img{
        height: 5rem;
        margin: 0.01rem;
    }

    .arrow{
        margin: 70px 2px;
    }

    .info img{
        height: 2rem;

    }
    .footer-c{
        padding-top: 1rem!important;
        padding-bottom: 1rem!important;
        font-size: 0.5rem;
    }
    .mainhead {
        font-size: 0.5rem;
    }
    .dropdown-button-custom{
        padding: 3px 10px;
        font-size: x-small;
    }
    .dropdown-item{
        font-size: 0.7rem!important;
        padding-right:  0;
    }

}

/* @media screen and (max-width: 700px) {
.mainhead {
padding: 5rem 0 1rem;
}
} */
@media screen and (max-width: 560px) {
    .navbar-toggler-icon{
        width: 20px;
        height: 20px;
    }
    .nav-button{
        font-size: 0.7rem;
        padding-right:  0;
    }
    .navbar-brand{
        padding: 0;
    }
    .mainhead h1 {
        font-weight: 800;
        font-size: 275%;
    }
    .button-search{
        font-size: 0.2rem!important;
    }

    .helpfix{
        display: grid;
        grid-template-rows: 1fr 135px;
    }
    .white-buttons img{
        height: 35px;
    }

    .main-text, h2{
        font-size: 1.3rem!important;
    }
    .main-text, p{
        font-size: 0.8rem!important;
        margin-left: 10px;
        margin-right: 10px;
    }
    .grid-products{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows:repeat(6, 1fr);
        margin: 0 auto;
        column-gap: 0.5rem;
        width: fit-content;

    }

    .grid-item{
        height: 13rem;
        width: 13rem;
    }
    .grid-item img {
        width: 100%;
        height: auto;
    }
    .grid-item p {
        font-size: 0.6rem!important;
    }

    .testimony{
        width: 85%;
        height: 18rem;
    }
    .user-photo{
        margin: -10% 0 0 0;
    }
    .user-photo img{
        height: 4rem;
        margin: 0.01rem;
    }
    .testimony-text{
        margin: 20px 20px;

    }
    .testimony-text p{
        font-size: 0.7rem!important;
        line-height: 16px;
    }
    p.feedback{
        margin-bottom: 20px;
    }
    .dropdown-item{
        font-size: 0.7rem;
        padding-right:  0;
    }
    .arrow{
        margin: 90px 2px;
        width: 20px;
    }
    .nav-link{
        font-size: 0.7rem!important;
        padding-right:  0;
    }
    .info{
        padding: 1rem!important;
    }
    .footer-c{
        padding: 0.5rem!important;
    }
}

@media screen and (max-width: 357px) {
    .navbar-toggler-icon{
        width: 20px;
        height: 20px;
    }
    .nav-button{
        font-size: 0.5rem;
        padding-right:  0;
    }
    .navbar-brand{
        padding: 0;
    }
    .mainhead h1 {
        font-weight: 800;
        font-size: 240%;
    }
    .mainhead P{
        font-size: 125%!important;
    }
    .button-search{
        font-size: 0.2rem!important;
        padding: 2px 4px;
    }
    .dropdown-button-custom{
        font-size: 0.5rem!important;

    }
    .container{
        width: 288px;
        padding: 0;
    }
    .dropdown-item{
        font-size: 0.5rem;
        padding-right:  0;
    }
    .testimony{
        width: 75%;
        height: 18rem;
    }
    .testimony-text p{
        font-size: 0.6rem!important;
        line-height: 14px;
    }
    .nav-link{
        font-size: 0.5rem!important;
        padding: 2px;
    }
    .logo{
        padding: 2px!important;
    }
}
