
body{
    font-family: 'Raleway', sans-serif;
}
#grad {
  background-image: linear-gradient(to right, #e6e7eb , #e4e5e9);
}

.vl{
    border-left: #cdcdcd;
}

#intro {
    height: 100hv;
}

#intro {
    background: url(./img/main.jpg)no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.nav-button{
	display: block;
	padding: .5rem 3rem;
	color: black;
	font-size: 14pt;

}
.navbar {
	background-color: #e5e6ea;
}
.navbar-collapse{
    text-align: end;
}

.vl {
  border-left: 1px solid #cdcdcd;
  height: 100%;
}
.nav-link{
    padding-right: 50px;
    font-size: 14pt;
}
.navbar-brand{
    padding-left: 30px;
}

.mainhead {
    display: grid;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 35rem;
    /* padding: 15rem 0 5rem; */
    background: url(main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.helpfix{
    display: grid;
    grid-template-rows: 1fr 150px;
}

.mainhead h1{
    font-weight: 800;
    font-size: 300%;
}
h1 {
    font-size: 3rem;
}

.dropdown-button-custom{
    color: #484848;
    background-color: #ffff;
    border-right-color: #cdcdcd;
}
.form-control{
    border: none;
}
.button-search{
	background-color: #4dadbb;
	color: white;
	font-size: 10pt;
}

.btn{
	font-size: 10pt;
}


.info{
    background-color: #323232;
}
span.name {
    color:#0e7200;

}

.white-buttons{
    display: flex;
    justify-content: space-evenly;
    padding: 0 3rem;
    margin: auto;
}
.white-buttons img{
    margin: 5px;
}

.products{
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 35rem;
    padding: 3rem 0;
    background-color: #f7f7f7;
    background-position: center
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    scroll-behavior: smooth;
}

.container{
    width: 100%;
}


.grid-products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:  repeat(2, 1fr);

    gap: 50px 80px;
    justify-items: center;
    margin: 0 auto;


}
.grid-item {
    height: 325px;
    width: 350px;
    background-color: #fff;
    margin-bottom: 50px;
    -webkit-column-break-inside: avoid;
    padding: 12.5px;
    box-sizing: border-box;
    margin: auto 0;

  }


  .grid-item img{
    width: 325px;
    height: 250px;
  }
  .grid-item p{
    margin-top: 1rem;
    text-align: left;
    color: #8b8b8b;
  }
  @media screen and (max-width: 1965px){
    .grid-products{
        column-gap: 0.5rem;
        margin: 0 auto;

    }
    .products{

        height: auto;
    }
    .navbar img{
        height: 3rem;
    }
    .white-buttons img{
        height: 3rem;
    }
    body{
        font-size: 0.8rem;
    }
    .navbar {
        font-size: 2rem;
    }

    .grid-item{
    }

  }
  @media screen and (max-width: 1275px) {
    .grid-products{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows:  repeat(3, 1fr);
        column-gap: 0.7rem;
        margin: 0 auto;
    }
    .products{

        height: auto;
    }
    .navbar img{
        height: 2rem;
    }
    .white-buttons img{
        height: 2rem;
    }
    .navbar {
        font-size: 2rem;
    }

    .grid-products {
        column-gap: 0.5rem;
        margin: 0 auto;
        /* width: fit-content; */
    }

  }
  @media screen and (max-width: 768px) {
    .grid-products{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows:  repeat(6, 1fr);
        margin: 0 auto;

    }
    .grid-item{
        height: 21rem;
        width: 21rem;
    }

    .grid-item img{
      width: 100%;
      /* height: 250px; */
    }
    .products{

        height: auto;
    }
    .navbar img{
        height: 2rem;
    }
    .white-buttons img{
        height: 2rem;
    }
    .grid-products {
        column-gap: 0.5rem;
        margin: 0 auto;
        width: fit-content;
    }
  }
.all-products{
    text-align: center;
    margin: auto;
}
  .testimonial{
      display: grid;
      position: relative;
      width: 100%;
      height: 100vh;
      min-height: 35rem;
      padding: 3rem 0;
      background-color: #4dadbb;
      background-position: center
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-size: cover;
      scroll-behavior: smooth;

  }
footer{
    display: grid;

}
.footer-c{
    background-color: #272727;
}

.testimony{
    display: grid;
    height: 419px;
    width: 696px;
    background-color: white;
    border-radius: 30px;
    box-shadow: -1px 2px 47.53px 1.47px rgba(0, 0, 0, 0.17);
    margin: 0 auto 0 auto;
    grid-template-rows: min-content;
    text-align: center;
}
@media screen and (max-width: 1965px) {
    .testimony{
        width: 60%;
        height: 21rem;
    }
    .testimony-text p{
        font-size: 0.8rem;
        margin: auto;
    }
    .user-photo img{
        height: 6rem;
        margin: 1.01rem;
    }

}

@media screen and (max-width: 1275px) {
    .testimony{
        width: 60%;
        height: 21rem;
    }
    .testimony-text p{
        font-size: 0.6rem;
        margin: auto;
    }
    .user-photo img{
        height: 6rem;
        margin: 0.01rem;
    }

}
@media screen and (max-width: 768px) {
    .testimony{
        width: 60%;
        height: 18rem;
    }
    .testimony-text p{
        font-size: 0.5rem;
        margin: auto;
    }
    .user-photo img{
        height: 5rem;
        margin: 0.01rem;
    }
}
.testimony-text{
    align-items: center;
    margin: auto 60px;
    /* size: inherit; */
}
.testimonial-main-text{
    text-align: center;
    color: white;
}
.products-main-text{
    text-align: center;
    color: black;
}
.feedback{
    font-size: 11.3pt;
    line-height: 19.16pt;
    color: #171717;
}
.author{
    font-family: 'Poppins', sans-serif;
    color: #4dadbb;
    font-size: 13.79pt;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 19.16pt;
    margin: 30px 0 0;
}
.who{
    font-weight: 300;
    font-style: italic;
    font-size: 12.26pt;
    line-height: 18.39pt;

    color: #717171;
}
.user-photo{
    margin: -8% 0 0 0;
}

/* .left .right{
    /* grid-template-columns: repeat(3, 1fr); */
    /* display: none;

} */
.carousel-place{
    display: flex;
}
.carousel-place a{
    margin: 8% auto auto;
}

@media screen and (max-width: 700px) {
  .mainhead {
    padding: 5rem 0 1rem;
  }
}
@media screen and (max-width: 1965px){
    .info img{
        height: 4rem;

    }
    .footer-c{
        font-size: 0.5rem;
    }

}
@media screen and (max-width: 1275px){
    .info img{
        height: 3rem;

    }
    .footer-c{
        font-size: 0.5rem;
    }

}
@media screen and (max-width: 768px){
    .info img{
        height: 2rem;

    }
    .footer-c{
        font-size: 0.5rem;
    }
    .mainhead {
        font-size: 0.5rem;
    }
    .dropdown-button-custom{
        padding: 3px;
        font-size: x-small;
    }
}
@media screen and (max-width: 767px) {
.vl{
    border: none;
}
}
